@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

main {
  margin-top: 72px;
}
.log a{
    margin-left: 10px;
    
}
header {
  background: #fff;
  height: 72px;
  box-sizing: border-box;
  box-shadow: 0px -5px 15px #27272780;
  -webkit-box-shadow: 0px -5px 15px #27272780;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

header > div {
  height: 100%;
}

.nav {
  height: 100%;
}

.nav,
.log,
.search,
.logo-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.log img {
  padding-left: 15px;
}

button {
  line-height: 40px;
  padding: 0 20px;
  border-color: #e0e0e0;
  background-color: #ffffff;
  border-radius: 2px;
  border-style: solid;
  outline: none;
  font-size: 13px;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
  background: #fafffa;
  border-color: #d4dbd3;
}

.search {
  height: 130px;
  justify-content: center;
}

.search input {
  color: #757575;
  border: none;
  border-bottom: 1px solid #979797;
  line-height: 24px;
  width: 100%;
}

.search input:focus {
  outline: none;
}

.head {
  font-size: 22px;
  margin: 0 0 16px;
}

.card {
  box-sizing: border-box;
  margin: 8px 0;
  display: flex;
  justify-content: center;
}

.card a {
  color: black;
}

.card a:hover {
  text-decoration: underline;
  color: black;
}

.card img {
  width: 100%;
}

.card-type {
  color: #626262;
  font-size: 14px;
}

.card-time {
  font-size: 13px;
}

footer {
  background-color: #262626;
  margin-top: 80px;  
  color: #fff;
}

footer a:hover {
  text-decoration: underline;
}

.logo-footer {
  box-sizing: border-box;
  height: 116px;
  border-bottom: 1px solid #979797;
  margin-bottom: 30px;
}

.footer {
  box-sizing: border-box;
  margin-bottom: 30px;
}

.footer > div {
  width: 100%;
}

.footer a {
  color: #ffffff;
  font-size: 13px;
}

.lang:before {
  content: url(img/world.svg);
  display: block;
  pointer-events: none;
  position: absolute;
  left: 1rem;
  top: 50%;
  z-index: 1;
  margin-top: -4px;
}

.lang {
  position: relative;
  width: 225px;
  margin-bottom: 20px;
}

.lang select {
  margin-top: 8px;
  color: #fff;
  width: 225px;
  padding: 5px 35px 5px 50px;
  font-size: 13px;
  border: 1px solid transparent;
  border-radius: 3px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(img/if_icon-ios7-arrow-back_211686.svg) 93% / 8% no-repeat
    #3b3b3b;
}

select:focus {
  outline: none;
}

.hash {
  margin-bottom: 20px;
}

.hashtag {
  color: #49a144;
}

.social > a:nth-child(2) > img {
  padding: 0 8px;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
}

.download a {  
  margin: 40px 0;
}

.download img {
  width: 130px;
  height: 40px;
  padding: 0 10px;
}

.footer-bottom {  
  font-size: 11px;
}

.footer-bottom a {
  color: #fff;
}

.footer-bottom div {
  margin: 40px 0;
}

.butnup {
  position: fixed;
  bottom: 24px;
  right: 16px;
}

hr {
  display: none;
}

@media screen and (max-width: 768px) {
  .footer-bottom > div:nth-child(2) {
    margin: -5px 0;
  }

  .download img {
    margin: 24px 0;
  }

  .log img {
    display: none;
  }

  .butnup {
    height: 64px;
  }

  hr {
    display: block;    
    width: 50px;
    background: #757575;
    color: #757575;
  }
}